<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RandomWord.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E15AC1E1BCF35AA0011D633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E15AC371BCF35AA0011D633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E15AC421BCF35AA0011D633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
