<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>List</key>
	<string></string>
	<key>item 0</key>
	<string>one</string>
	<key>item 1</key>
	<string>two</string>
	<key>item 2</key>
	<string>three</string>
	<key>item 3</key>
	<string>four</string>
	<key>item 4</key>
	<string>five</string>
</dict>
</plist>
