<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CarSpotter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E48B4961BEBBD6B006B0E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E48B4AD1BEBBD6E006B0E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E48B4B81BEBBD6F006B0E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
