<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TableViewApplication.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E48B44A1BEB8BC9006B0E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E48B45E1BEB8BCB006B0E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E48B4691BEB8BCC006B0E09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
