<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISwitches.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E5470801BD08F33007309A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E5470941BD08F34007309A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E54709F1BD08F34007309A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
