<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ifStatements.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E02FEF71BCD5323009A8D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E02FF101BCD5324009A8D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E02FF1B1BCD5324009A8D51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
