<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Constraints.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8E6C43CB1BCBE43200B01178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6C43E41BCBE43300B01178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8E6C43EF1BCBE43300B01178</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
